body {
  font-family: 'Press Start 2P', cursive; 
  margin: 0;
  padding: 0;
  background-image: url('background.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff; 
}

header {
  background-color: #3498db; 
  color: #fff;
  text-align: center;
  padding: 20px 0;
}